/*RESPONSIVE*/
/*MEDIA QUERIES*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.8;
  overflow-x: hidden;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  body {
    min-width: 768px;
    max-width: 991px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  body {
    min-width: 992px;
    max-width: 1199px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    min-width: 1200px;
  }
}

a {
  color: #000;
}

.btn-gradient {
  color: #FFF;
  font-weight: 400;
  font-size: 1rem;
  background: linear-gradient(#FF79DA 5%, #9356DC 95%);
  padding: 1rem;
  border-radius: 40px;
  width: 14rem;
  margin: 30px auto;
  cursor: pointer;
  box-shadow: 3px 3px 3px #D0D0D0;
  text-align: center;
  transform: scale(1);
  transition: transform 200ms;
  position: relative;
}
.btn-gradient:hover {
  transform: scale(1.03);
}
.btn-gradient:hover::after {
  opacity: 1;
}
.btn-gradient::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(#ff93e1 5%, #a16be0 95%);
  opacity: 0;
  z-index: -1;
  border-radius: 40px;
  box-shadow: 8px 6px 1px #D0D0D0;
}

@keyframes scale {
  0% {
    transform: scale(1);
    filter: blur(10px);
  }
  50% {
    transform: scale(0.1);
    filter: blur(5px);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes disapear {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translate(-9999px);
  }
}
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 10;
  background: #FFF;
  animation: disapear forwards;
  animation-delay: 6000ms;
}
.loader__dot {
  margin: 1vw;
  background: #9356DC;
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  animation: scale 2000ms 3 300ms;
}
.loader__dot:nth-child(2) {
  animation-delay: 600ms;
}
.loader__dot:nth-child(3) {
  animation-delay: 900ms;
}

@keyframes card-in {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.header, .header-menu {
  margin: 8% 0 2% 0;
  position: relative;
}
.header__return-arrow, .header-menu__return-arrow {
  font-size: 1.2rem;
  position: absolute;
  z-index: 1;
  left: 8%;
  top: 0;
  display: none;
}
.header__logo, .header-menu__logo {
  text-align: center;
}
.header__logo img, .header-menu__logo img {
  width: 45%;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .header__logo img, .header-menu__logo img {
    width: 40%;
  }
}
@media screen and (min-width: 1200px) {
  .header__logo img, .header-menu__logo img {
    width: 35%;
  }
}

.header-menu__return-arrow {
  font-size: 1.2rem;
  position: absolute;
  z-index: 1;
  left: 8%;
  top: 0;
  display: block;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .header-menu__return-arrow i {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .header-menu__return-arrow i {
    font-size: 2rem;
  }
}
@media screen and (min-width: 1200px) {
  .header-menu__return-arrow i {
    font-size: 2.5rem;
  }
}

/*MAIN*/
.main-menu {
  margin-bottom: -65px;
}

/*PAGE MENU*/
.banner {
  margin: 0 -20px 0 -20px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .banner {
    margin: 0 -30px 0 -50px;
  }
}
.banner img {
  width: 100%;
  height: 276px;
  object-fit: cover;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .banner img {
    height: 386px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .banner img {
    height: 486px;
  }
}
@media screen and (min-width: 1200px) {
  .banner img {
    height: 486px;
    border-radius: 20px 20px 0;
  }
}

.section-menu {
  padding: 40px 20px 30px 20px;
  background: #F6F6F6;
  text-align: left;
  border-radius: 40px 40px 0 0;
  width: 100%;
  position: relative;
  top: -65px;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .section-menu {
    padding: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .section-menu {
    padding: 60px;
  }
}
.section-menu__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 1.8rem;
  margin-top: -10px;
}

.icon {
  position: relative;
}
.icon__1 {
  display: block;
  position: relative;
  z-index: 10;
}
.icon__1:hover {
  opacity: 0;
}
.icon__1:hover + .icon__2 {
  height: 100%;
}
.icon__2 {
  display: block;
  background: linear-gradient(#FF79DA 5%, #9356DC 95%);
  background-clip: content-box;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  top: 0;
  height: 0;
  transition: all 300ms ease-in-out;
}

@media screen and (min-width: 1200px) {
  .cards-menu-flex {
    display: flex;
    justify-content: space-between;
  }
}

.card-menu {
  animation: card-in 1000ms ease-in-out forwards;
  opacity: 0;
}
.card-menu--1 {
  animation-delay: 300ms;
}
.card-menu--2 {
  animation-delay: 600ms;
}
.card-menu--3 {
  animation-delay: 900ms;
}
.card-menu__heading {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 30px;
}
.card-menu__heading--border {
  border-bottom: 3px solid #99E2D0;
}
@media screen and (min-width: 1200px) {
  .card-menu {
    width: 30%;
  }
}

.card-menu-dish {
  border-radius: 20px;
  box-shadow: 3px 3px 3px #D0D0D0;
  background: #FFF;
  padding: 15px 20px 10px 10px;
  margin: 15px 0 15px 0;
  animation: card-in 1500ms ease-in-out forwards;
}
.card-menu-dish--1 {
  animation-delay: 300ms;
}
.card-menu-dish--2 {
  animation-delay: 600ms;
}
.card-menu-dish--3 {
  animation-delay: 900ms;
}
.card-menu-dish--4 {
  animation-delay: 1200ms;
}
.card-menu-dish--5 {
  animation-delay: 1500ms;
}
.card-menu-dish--6 {
  animation-delay: 1800ms;
}
.card-menu-dish--7 {
  animation-delay: 2100ms;
}
.card-menu-dish--8 {
  animation-delay: 2400ms;
}
.card-menu-dish--9 {
  animation-delay: 2700ms;
}
.card-menu-dish--10 {
  animation-delay: 3000ms;
}
.card-menu-dish__title {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.3rem;
}
.card-menu-dish__seasoning {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  font-weight: 300;
}
.card-menu-dish__price {
  font-weight: 500;
}

.footer, .footer-menu {
  background: #353535;
  padding: 25px 20px 30px 20px;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .footer, .footer-menu {
    padding: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .footer, .footer-menu {
    padding: 40px;
    border-radius: 0 0 20px 20px;
  }
}
.footer ul, .footer-menu ul {
  list-style-type: none;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .footer ul, .footer-menu ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .footer ul, .footer-menu ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .footer ul, .footer-menu ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
.footer a, .footer-menu a {
  color: #FFF;
  font-weight: 100;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .footer a, .footer-menu a {
    display: inline-block;
  }
}
.footer i, .footer-menu i {
  margin-right: 10px;
  font-size: 0.8rem;
}
.footer__image, .footer-menu__image {
  width: 6rem;
  margin-bottom: 10px;
}
.footer__image img, .footer-menu__image img {
  width: 100%;
}

.section-area {
  text-align: center;
  padding: 10px;
  background: linear-gradient(#cfcfcf 2%, #eaeaea 20%);
}
.section-area__text {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
}
.section-area__text i {
  padding-right: 15px;
}
@media screen and (min-width: 1200px) {
  .section-area {
    border-radius: 20px 20px 0 0;
  }
}

.section-presentation {
  padding: 40px 20px 30px 20px;
  background: #F6F6F6;
  text-align: center;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .section-presentation {
    padding: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .section-presentation {
    padding: 60px;
  }
}
.section-presentation__heading {
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .section-presentation__heading {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .section-presentation__heading {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section-presentation__heading {
    margin-bottom: 30px;
  }
}
.section-presentation__text {
  font-size: 1.1rem;
  line-height: 1.3rem;
}
@media screen and (min-width: 1200px) {
  .section-presentation {
    border-radius: 0 0 20px 20px;
  }
}

.section-fonctionnement {
  margin-bottom: 20px;
  padding: 40px 20px 30px 20px;
  background: #FFF;
  text-align: left;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .section-fonctionnement {
    padding: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .section-fonctionnement {
    padding: 60px;
  }
}
.section-fonctionnement__heading {
  margin-bottom: -20px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .section-fonctionnement__heading {
    margin-bottom: -10px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .section-fonctionnement__heading {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .section-fonctionnement__heading {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .choice-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .choice-flex {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .choice-flex {
    display: flex;
    justify-content: space-between;
  }
}

.section-choice {
  width: 17rem;
  margin: auto;
}
.section-choice__number {
  font-size: 0.9rem;
  line-height: 1.7rem;
  position: relative;
  background: #9356DC;
  border-radius: 50%;
  z-index: 1;
  color: #FFF;
  width: 1.8rem;
  text-align: center;
  top: 45px;
  left: -6px;
  font-weight: 100;
}
.section-choice__rounded-block {
  border-radius: 20px;
  box-shadow: 3px 3px 3px #D0D0D0;
  font-weight: 500;
  background: #F6F6F6;
  padding: 1.3rem;
  text-align: center;
  line-height: 1.2rem;
  transform: scale(1);
  transition: transform 200ms;
}
.section-choice__rounded-block:hover {
  background: rgba(147, 86, 220, 0.2);
  transform: scale(1.03);
}
.section-choice__rounded-block:hover i {
  color: #9356DC;
}
.section-choice__rounded-block i {
  margin-right: 15px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
}

/*SECTION RESTAURANTS*/
.section-restaurants {
  padding: 40px 20px 30px 20px;
  background: #F6F6F6;
  text-align: left;
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .section-restaurants {
    padding: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .section-restaurants {
    padding: 60px;
  }
}
.section-restaurants__heading {
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: 12px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .section-restaurants__heading {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .section-restaurants__heading {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section-restaurants__heading {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .section-restaurants {
    border-radius: 20px 20px 0 0;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .cards-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .cards-flex > a {
    width: 48%;
  }
}
@media screen and (min-width: 1200px) {
  .cards-flex {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .cards-flex > a {
    width: 48%;
  }
}

.restaurant-card {
  width: 100%;
  border-radius: 20px;
  box-shadow: 3px 3px 3px #D0D0D0;
  margin-bottom: 8%;
  transform: scale(1);
  transition: transform 200ms;
}
.restaurant-card:hover {
  transform: scale(1.03);
}
.restaurant-card__imagePalette {
  background-size: cover;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  height: 180px;
  border-radius: 20px 20px 0 0;
  position: relative;
  background-image: url(../images/restaurants/restaurant-palette-du-gout.jpg);
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .restaurant-card__imagePalette {
    background-position: 30% 65%;
  }
}
@media screen and (min-width: 1200px) {
  .restaurant-card__imagePalette {
    height: 300px;
  }
}
.restaurant-card__imageNote {
  background-size: cover;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  height: 180px;
  border-radius: 20px 20px 0 0;
  position: relative;
  background-image: url(../images/restaurants/restaurant-la-note-enchantee.jpg);
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .restaurant-card__imageNote {
    background-position: 30% 65%;
  }
}
@media screen and (min-width: 1200px) {
  .restaurant-card__imageNote {
    height: 300px;
  }
}
.restaurant-card__imageFrancaise {
  background-size: cover;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  height: 180px;
  border-radius: 20px 20px 0 0;
  position: relative;
  background-image: url(../images/restaurants/restaurant-a-la-francaise.jpg);
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .restaurant-card__imageFrancaise {
    background-position: 30% 65%;
  }
}
@media screen and (min-width: 1200px) {
  .restaurant-card__imageFrancaise {
    height: 300px;
  }
}
.restaurant-card__imageDelice {
  background-size: cover;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  height: 180px;
  border-radius: 20px 20px 0 0;
  position: relative;
  background-image: url(../images/restaurants/restaurant-delice-des-sens.jpg);
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .restaurant-card__imageDelice {
    background-position: 30% 65%;
  }
}
@media screen and (min-width: 1200px) {
  .restaurant-card__imageDelice {
    height: 300px;
  }
}
.restaurant-card__sticker {
  background: #99E2D0;
  color: #6ab8a5;
  font-weight: 500;
  padding: 5px;
  border-radius: 0.3rem;
  width: 7rem;
  text-align: center;
  position: absolute;
  z-index: 1;
  right: 0;
  margin: 15px;
}
.restaurant-card__legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
}
.restaurant-card__legend .text {
  font-size: 1.1rem;
  line-height: 1.6rem;
  padding: 2% 0 4% 3%;
}
.restaurant-card__legend .icon {
  padding-right: 10%;
  font-size: 1.5rem;
  position: relative;
}
.restaurant-card__legend .icon__1 {
  position: relative;
  z-index: 10;
}
.restaurant-card__legend .icon__1:hover {
  opacity: 0;
}
.restaurant-card__legend .icon__1:hover + .icon__2 {
  height: 100%;
}
.restaurant-card__legend .icon__2 {
  background: linear-gradient(#FF79DA 5%, #9356DC 95%);
  background-clip: content-box;
  -webkit-background-clip: text;
  color: transparent;
  position: absolute;
  z-index: -2;
  top: 0;
  height: 0;
  transition: all 300ms ease-in-out;
}
.restaurant-card__legend .bold {
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
