@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1.8;
  overflow-x: hidden;
}

a {
  color: #000;
}

/*HEADER*/
.header {
  margin: 8% 0 2% 0;
}
.header__return-arrow {
  font-size: 1.2rem;
  position: absolute;
  left: 8%;
  display: none;
}
.header__logo {
  text-align: center;
}
.header__logo img {
  width: 45%;
}

/*header menus*/
.header-menu {
  margin: 8% 0 2% 0;
}
.header-menu__return-arrow {
  font-size: 1.2rem;
  position: absolute;
  left: 8%;
  display: block;
}
.header-menu__logo {
  text-align: center;
}
.header-menu__logo img {
  width: 45%;
}

/*SECTION AREA*/
.section-area {
  text-align: center;
  padding: 10px;
  background: linear-gradient(#cfcfcf 2%, #eaeaea 20%);
}
.section-area__text {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 500;
}
.section-area__text i {
  padding-right: 15px;
}

/*SECTION PRÉSENTATION*/
.section-presentation {
  padding: 40px 20px 60px 20px;
  background: #F6F6F6;
  text-align: center;
}
.section-presentation__heading {
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: 12px;
}
.section-presentation__text {
  font-size: 1.1rem;
  line-height: 1.3rem;
}

.btn-gradient {
  color: #FFF;
  font-weight: 400;
  line-height: 1.2rem;
  background: linear-gradient(#FF79DA, #9356DC 95%);
  padding: 1rem;
  border-radius: 40px;
  width: 15rem;
  margin: auto;
  text-align: center;
}

/*SECTION FONCTIONNEMENT*/
.section-fonctionnement {
  padding: 40px 20px 60px 20px;
  background: #FFF;
  text-align: left;
}
.section-fonctionnement__heading {
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: 12px;
}

.section-choice__number {
  font-size: 0.9rem;
  position: relative;
  background: #9356DC;
  border-radius: 50%;
  z-index: 1;
  color: #FFF;
  width: 1.8rem;
  text-align: center;
  top: 45px;
  left: -6px;
  font-weight: 100;
}
.section-choice__rounded-block {
  border-radius: 20px;
  box-shadow: 3px 3px 3px #D0D0D0;
  width: 100%;
  font-weight: 500;
  background: #F6F6F6;
  padding: 1.3rem;
  text-align: center;
  line-height: 1.2rem;
}
.section-choice__rounded-block i {
  margin-right: 15px;
  color: rgba(0, 0, 0, 0.7);
  font-size: 1.2rem;
}

/*SECTION RESTAURANTS*/
.section-restaurants {
  padding: 40px 20px 60px 20px;
  background: #F6F6F6;
  text-align: left;
}
.section-restaurants__heading {
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-bottom: 12px;
}

.restaurant-card {
  border-radius: 20px;
  box-shadow: 3px 3px 3px #D0D0D0;
  width: 100%;
  margin-bottom: 8%;
}
.restaurant-card__image1 {
  background-size: cover;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  height: 180px;
  border-radius: 20px 20px 0 0;
  position: relative;
  background-image: url(/images/restaurants/small/jay-wennington-767px.jpg);
}
.restaurant-card__image2 {
  background-size: cover;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  height: 180px;
  border-radius: 20px 20px 0 0;
  position: relative;
  background-image: url(/images/restaurants/small/stil-767px.jpg);
}
.restaurant-card__image3 {
  background-size: cover;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  height: 180px;
  border-radius: 20px 20px 0 0;
  position: relative;
  background-image: url(/images/restaurants/small/toa-heftiba-767px.jpg);
}
.restaurant-card__image4 {
  background-size: cover;
  background-position: 50% 60%;
  background-repeat: no-repeat;
  height: 180px;
  border-radius: 20px 20px 0 0;
  position: relative;
  background-image: url(/images/restaurants/small/louis-hansel-767px.jpg);
}
.restaurant-card__sticker {
  background: #99E2D0;
  color: #6ab8a5;
  font-weight: 500;
  padding: 5px;
  border-radius: 0.3rem;
  width: 35%;
  text-align: center;
  position: relative;
  top: 7%;
  left: 60%;
}
.restaurant-card__legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.restaurant-card__legend .text {
  font-size: 1.1rem;
  line-height: 1.6rem;
  padding: 2% 0 4% 3%;
}
.restaurant-card__legend .icon {
  padding-right: 10%;
  font-size: 1.5rem;
}
.restaurant-card__legend .bold {
  font-weight: 500;
}

/*FOOTER*/
.footer {
  background: #353535;
  padding: 25px 20px 30px 20px;
}
.footer ul {
  list-style-type: none;
}
.footer a {
  color: #FFF;
  font-weight: 100;
}
.footer i {
  margin-right: 10px;
  font-size: 0.8rem;
}
.footer__image {
  width: 6rem;
  margin-bottom: 10px;
}
.footer__image img {
  width: 100%;
}

/*footer menus*/
.footer-menu {
  background: #353535;
  padding: 25px 20px 30px 20px;
  position: relative;
}
.footer-menu ul {
  list-style-type: none;
}
.footer-menu a {
  color: #FFF;
  font-weight: 100;
}
.footer-menu i {
  margin-right: 10px;
  font-size: 0.8rem;
}
.footer-menu__image {
  width: 6rem;
  margin-bottom: 10px;
}
.footer-menu__image img {
  width: 100%;
}

/*MAIN*/
.main-menu {
  margin-bottom: -65px;
}

/*PAGE MENU*/
.banner {
  margin: 0 -20px 0 -20px;
}
.banner img {
  width: 100%;
  height: 276px;
  object-fit: cover;
}

.section-menu {
  padding: 40px 20px 60px 20px;
  background: #F6F6F6;
  text-align: left;
  border-radius: 40px 40px 0 0;
  width: 100%;
  position: relative;
  top: -65px;
}
.section-menu__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 1.8rem;
}

.card-menu__heading {
  font-weight: 300;
  text-transform: uppercase;
  font-size: 1rem;
  margin-top: 30px;
}
.card-menu__heading--border {
  border-bottom: 3px solid #99E2D0;
}

.card-menu-dish {
  border-radius: 20px;
  box-shadow: 3px 3px 3px #D0D0D0;
  width: 100%;
  background: #FFF;
  padding: 15px 20px 10px 10px;
  margin: 15px 0 15px 0;
}
.card-menu-dish__title {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 1.3rem;
}
.card-menu-dish__seasoning {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}
.card-menu-dish__price {
  font-weight: 500;
}

/*# sourceMappingURL=style.css.map */
