.btn-gradient {
    color: #FFF;
    font-weight: $font-regular;
    font-size: 1rem;
    background: linear-gradient($color-secondary 5%, $color-primary 95%);
    padding: 1rem;
    border-radius: 40px;
    width: 14rem;
    margin: 30px auto;
    cursor: pointer;
    box-shadow: 3px 3px 3px $color-shadow;
    text-align: center;
    transform: scale(1);
    transition: transform 200ms;
    position: relative;
    &:hover {
        transform: scale(1.03);
        &::after {
            opacity: 1;
        }
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(lighten($color-secondary, 5%) 5%, lighten($color-primary, 5%) 95%);
        opacity: 0;
        z-index: -1;
        border-radius: 40px;
        box-shadow: 8px 6px 1px $color-shadow;
    }
}