* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 100;
    line-height: 1.8;
    overflow-x: hidden;
}

a {
    color: #000;
}