/*MAIN*/
.main-menu {
    margin-bottom: -65px;
}
/*PAGE MENU*/
.banner {
    margin: 0 -20px 0 -20px;
    @include tablet-only {
        margin: 0 -30px 0 -50px;
    }
    img {
    width: 100%;
    height: 276px;
    object-fit: cover;
    @include tablet-only {
        height: 386px;
        }
    @include desktop-only {
        height: 486px;
        }
    @include xl-desktop-only {
        height: 486px;
        border-radius: 20px 20px 0;
        }
    }
}
.section-menu {
    @include section;
    border-radius: 40px 40px 0 0;
    width: 100%;
    position: relative;
    top: -65px;
    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: 'Shrikhand', cursive;
        font-weight: normal;
        font-size: 1.8rem;
        margin-top: -10px;
    }
}
.icon {
    position: relative;
    &__1 {
        display: block;
        position: relative;
        z-index: 10;
        &:hover {
            opacity: 0;
        }
        &:hover + .icon__2 {
            height: 100%;
        }
    }
    &__2 {
        display: block;
        background: linear-gradient($color-secondary 5%, $color-primary 95%);
        background-clip: content-box;
        -webkit-background-clip: text;
        color: transparent;
        position: absolute;
        top: 0;
        height: 0;
        transition: all 300ms ease-in-out;
    }
}
.cards-menu-flex {
        @include xl-desktop-only {
    display: flex;
    justify-content: space-between;
    }
}
.card-menu {
    animation: card-in 1000ms ease-in-out forwards;
    opacity: 0;
    @for $i from 1 through 3 {
        &--#{$i} {
            animation-delay: 300ms * $i;
        }
    }
    &__heading {
        font-weight: $font-light;
        text-transform: uppercase;
        font-size: 1rem;
        margin-top: 30px;
        &--border {
            border-bottom: 3px solid $color-tertiary;
        }
    }
    @include xl-desktop-only {
        width: 30%;
    }
}
.card-menu-dish {
    @include round-box-shadow;
    background: #FFF;
    margin: 15px 0 15px 0;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    animation: card-in 1500ms ease-in-out forwards;
    @for $i from 1 through 10 {
        &--#{$i} {
            animation-delay: 300ms * $i;
        }
    }
    &:hover > .card-menu-dish__checkbox {
        transform: scaleX(1);
        transform-origin: center right;
        width: 6rem;
        & > i {
            transform: rotate(-1turn);
        }
    }
    &__infos {
        width: 100%;
        padding: 15px 20px 10px 10px;
    }
    &__title {
        font-weight: $font-medium;
        font-size: 1.1rem;
        line-height: 1.3rem;
    }
    &__seasoning {
        display: flex;
        justify-content: space-between;
        font-size: 0.9rem;
        font-weight: $font-light;
    }
    &__price {
        font-weight: $font-medium;
    }
    &__checkbox {
        background: $color-tertiary;
        border-radius: 0 20px 20px 0;
        color: #fff;
        width: 0;
        transform: scaleX(0);
        transition: transform 500ms ease-in-out;
        transform-origin: center right;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        overflow: hidden;
        i {
            transform: rotate(1turn);
            transition: transform 500ms ease-in-out;
        }
    }
}
